<div class="address-card">
  <h1 class="name">{{user.name}}</h1>
  <h3 class="designation">{{user.designation}}</h3>
  <button (click)="toggleCollapse()">{{expandCollapse}}</button>
  <div *ngIf="isCollapsed">
    <p class="address">{{user.address}}</p>
    <div *ngIf="user.phone.length" class="phone">
      <p>Phone : </p>
      <p *ngFor="let phoneNumber of user.phone">{{phoneNumber}}</p>
    </div>
  </div>
  <div style="padding-top: 30px">
    Two Way Data Binding : <input type="text" [(ngModel)]="inputText"/> {{inputText}}
  </div>
</div>